.navbar-mist {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.navbar-mist img {
    width: 80px;
	vertical-align: middle;
}

.navbar-mist .title {
	align: center;
	margin: 0 0 0 20px;
	vertical-align: middle;
	font-size: 2em;
}
